<main>
  <h1>{{ title() }}</h1>
  <form (ngSubmit)="addTransaction()">
  <input
    type="text"
    name="title"
    placeholder="Title"
    [(ngModel)]="form.title"
  />

  <input
    type="number"
    name="amount"
    placeholder="Amount"
    [(ngModel)]="form.amount"
  />

  <select name="type" [(ngModel)]="form.type">
    <option value="income">Income</option>
    <option value="expense">Expense</option>
  </select>

  <input
    type="text"
    name="category"
    placeholder="Category"
    [(ngModel)]="form.category"
  />

  <input
    type="date"
    name="date"
    [(ngModel)]="form.date"
  />

  <button type="submit">Add Transaction</button>
</form>


  <section>
    <h2>Transactions</h2>

    @if (transactions().length === 0) {
      <p>No transactions yet.</p>
    } @else {
      <ul>
        @for (transaction of transactions(); track transaction.id) {
          <li>
            {{ transaction.title }} -
            {{ transaction.type }} -
            {{ transaction.amount }} -
            {{ transaction.category }} -
            {{ transaction.date }}
            <button type ="button" (click) = "deleteTransaction(transaction.id)">Delete</button>
          </li>
        }
      </ul>
    }
  </section>
</main>
